
body {
    background-color: black;
    color:white;
}


.python {
    color:red;
}

@media screen {
    .print_white
    { display: none; }
    
}

@media print {
.screen_black
    { display: none; }
}
